:root {
  --text-font: "Lato", "Open Sans";
  --heading-font: "Poppins", "Montserrat";
  --primary-background-color: #f8f1e7;
  --secondary-background-color: #f8f5f2;
  --primary-color: #8a9a5b;
  --text-color: #636363;
}

.main-page {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#slideshow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.carousel-item img {
  object-fit: cover;
  height: 100vh;
}

.top-menu a {
  font-family: var(--heading-font);
  font-size: 18px;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
}

/* Container for bottom-left links */
.bottom-menu {
  position: fixed; /* Fixes the position relative to the viewport */
  bottom: 20px; /* Distance from the bottom of the screen */
  left: 20px; /* Distance from the left side of the screen */
  z-index: 10; /* Ensures it appears above other elements */
}

.bottom-menu a {
  font-size: 25px; /* Adjust the font size as needed */
  font-weight: 650;
  margin-bottom: 10px; /* Space between links */
  text-decoration: none; /* Removes underline */
  color: var(--text-color) !important;
}

.gooz {
  background-color: #efefef;
}

.project-year {
  font-weight: 300;
}

.project-title {
  font-family: Merriweather;
}

.project-text {
  text-align: right;
  opacity: 0.7;
  font-family: var(--text-font);
}

@media (max-width: 768px) {
  .project-text {
    text-align: left;
    font-size: 16px;
  }
}
